Repository JacobPEvans/ai-assistant-instructions: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, cclint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.13.0
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        description: "Markdown linter"
        entry: markdownlint-cli2
        language: node
        files: \.md$
        require_serial: true
        args: ["--config", ".markdownlint-cli2.jsonc", "--fix"]
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v8.16.1
    hooks:
      - id: cspell
        name: cspell
        description: "Spell checker for code"
        args: ["--config", ".cspell.json"]
        files: \.md$
  - repo: https://github.com/lycheeverse/lychee
    rev: v0.15.1
    hooks:
      - id: lychee
        name: lychee-link-check
        description: "Check for broken links in markdown files"
        args:
          - "--no-progress"
          - "--exclude"
          - "shields.io"
          - "--exclude"
          - "github.com/.*/badge"
          - "--exclude"
          - "gist.github.com"
        files: \.md$
  - repo: local
    hooks:
      - id: check-markdown-links
        name: check-markdown-links
        description: "Check for broken file links in markdown files"
        entry: python3 scripts/check-markdown-links.py
        language: system
        files: \.md$
        pass_filenames: false
      - id: cclint
        name: cclint
        description: "Validate Claude Code instruction files"
        entry: bash -c 'command -v cclint >/dev/null 2>&1 && cclint || npx @carlrannaberg/cclint'
        language: system
        files: ^\.claude/
        pass_filenames: false
        stages: [pre-push]

fix: address all 10 PR review comments for command-agent-skill architecture
  .cspell.json
  agentsmd/agents/permissions-analyzer.md
  agentsmd/agents/permissions-syncer.md
  agentsmd/commands/sync-permissions.md
  agentsmd/skills/permission-deduplication/SKILL.md
  agentsmd/skills/permission-safety-classification/SKILL.md
Due: check-markdown-links

fix: apply merged permissions back to both files before cleanup
  agentsmd/agents/permissions-syncer.md
Due: check-markdown-links

refactor: restructure /sync-permissions using command-agent-skill architecture (#385)
  .cspell.json
  AGENTS.md
  agentsmd/agents/permissions-analyzer.md
  agentsmd/agents/permissions-syncer.md
  agentsmd/commands/sync-permissions.md
  agentsmd/rules/command-agent-skill-architecture.md
  agentsmd/skills/permission-deduplication/SKILL.md
  agentsmd/skills/permission-safety-classification/SKILL.md
Due: check-markdown-links

refactor: remove .claude/settings.json in favor of jpe-hooks plugin
  .claude/hooks/issue-limit-enforcer.py
  .claude/hooks/validate-token-limits.py
  .claude/plugins/jpe-git
  .claude/settings.json
  agentsmd/commands/git-refresh.md
  agentsmd/plugins/jpe-git/.claude-plugin/plugin.json
  agentsmd/plugins/jpe-git/README.md
  agentsmd/plugins/jpe-git/commands/git-rebase-pr.md
  agentsmd/plugins/jpe-git/skills/git-rebase-workflow/SKILL.md
  agentsmd/skills/pr-health-check/SKILL.md
Due: check-markdown-links, cclint

feat: add greptile MCP permissions to pr-thread-resolver agent
  .cspell.json
  agentsmd/agents/pr-thread-resolver.md
Due: check-markdown-links

refactor: remove .claude/settings.json in favor of jpe-hooks plugin (#389)
  .claude/hooks/issue-limit-enforcer.py
  .claude/hooks/validate-token-limits.py
  .claude/plugins/jpe-git
  .claude/settings.json
  .cspell.json
  agentsmd/agents/pr-thread-resolver.md
  agentsmd/commands/git-refresh.md
  agentsmd/plugins/jpe-git/.claude-plugin/plugin.json
  agentsmd/plugins/jpe-git/README.md
  agentsmd/plugins/jpe-git/commands/git-rebase-pr.md
  agentsmd/plugins/jpe-git/skills/git-rebase-workflow/SKILL.md
  agentsmd/skills/pr-health-check/SKILL.md
Due: check-markdown-links, cclint

feat: optimize command token usage with DRY principles
  .tmp/command-optimization-plan.md
  .tmp/optimization-results.md
  agentsmd/commands/auto-claude.md
  agentsmd/commands/manage-pr.md
  agentsmd/skills/github-cli-patterns/SKILL.md
Due: check-markdown-links

fix: correct markdown line length violations
  agentsmd/commands/auto-claude.md
  agentsmd/commands/manage-pr.md
Due: check-markdown-links

fix: address PR #390 review feedback
  .tmp/command-optimization-plan.md
  agentsmd/commands/auto-claude.md
  agentsmd/skills/github-cli-patterns/SKILL.md
Due: check-markdown-links

fix: resolve markdown lint failures in temporary files
  .tmp/command-optimization-plan.md
  .tmp/optimization-results.md
  agentsmd/commands/manage-pr.md
Due: check-markdown-links

fix: address PR review feedback - correct byte counts, formatting, and security
  .tmp/command-optimization-plan.md
  agentsmd/skills/github-cli-patterns/SKILL.md
Due: check-markdown-links

feat: optimize command token usage with DRY principles (#390)
  .tmp/command-optimization-plan.md
  .tmp/optimization-results.md
  agentsmd/commands/auto-claude.md
  agentsmd/commands/manage-pr.md
  agentsmd/skills/github-cli-patterns/SKILL.md
Due: check-markdown-links

fix: resolve PR review feedback - paths, script cleanup, documentation
  .pre-commit-config.yaml
  .tmp/optimization-results.md
  agentsmd/commands/resolve-pr-review-thread.md
  scripts/check-command-tokens.sh
  scripts/install-pre-commit-hook.sh
Due: check-markdown-links

feat: optimize command token usage with DRY principles (#390)
  .pre-commit-config.yaml
  agentsmd/commands/git-rebase.md
  agentsmd/commands/git-worktree-troubleshooting.md
  scripts/check-command-tokens.sh
  scripts/install-pre-commit-hook.sh
Due: check-markdown-links

chore: delete circular symlinks in agentsmd (.claude, .gemini, .copilot)
  agentsmd/.claude
  agentsmd/.copilot
  agentsmd/.gemini
Due: none

chore: token optimization cleanup - remove circular symlinks and stale worktrees (#392)
  agentsmd/.claude
  agentsmd/.copilot
  agentsmd/.gemini
Due: none

chore: reorganize documentation - move .specs/.tmp to docs/
  .gitignore
  docs/README.md
  docs/optimization/command-optimization-plan.md
  docs/optimization/optimization-results.md
  docs/projects/multi-model-orchestration/PLAN.md
  docs/projects/multi-model-orchestration/tasks.md
Due: check-markdown-links

chore: archive unused consolidate-issues skill
  docs/archived-skills/consolidate-issues/SKILL.md
Due: check-markdown-links

fix: link directly to PLAN.md in docs/README.md
  docs/README.md
Due: check-markdown-links

chore: token optimization phase 2 - docs reorganization and cleanup (#393)
  .gitignore
  docs/README.md
  docs/archived-skills/consolidate-issues/SKILL.md
  docs/optimization/command-optimization-plan.md
  docs/optimization/optimization-results.md
  docs/projects/multi-model-orchestration/PLAN.md
  docs/projects/multi-model-orchestration/tasks.md
Due: check-markdown-links

refactor: optimize commands for token reduction
  agentsmd/commands/git-rebase-troubleshoot.md
  agentsmd/commands/init-worktree.md
  agentsmd/commands/quick-add-permission.md
  agentsmd/commands/ready-player-one.md
  agentsmd/commands/resolve-issues.md
  agentsmd/commands/review-pr.md
  agentsmd/commands/shape-issues.md
  agentsmd/commands/sync-main.md
  docs/optimization/optimization-results.md
Due: check-markdown-links

refactor: apply reference-by-name pattern to Claude Code components
  AGENTS.md
  agentsmd/agents/README.md
  agentsmd/agents/ci-fixer.md
  agentsmd/agents/code-reviewer.md
  agentsmd/agents/dependency-checker.md
  agentsmd/agents/docs-reviewer.md
  agentsmd/agents/issue-resolver.md
  agentsmd/agents/linter-fixer.md
  agentsmd/agents/pr-thread-resolver.md
  agentsmd/agents/test-runner.md
  agentsmd/agents/worktree-manager.md
  agentsmd/commands/delegate-to-ai.md
  agentsmd/commands/git-rebase-troubleshoot.md
  agentsmd/commands/git-rebase.md
  agentsmd/commands/git-worktree-troubleshooting.md
  agentsmd/commands/init-worktree.md
  agentsmd/commands/quick-add-permission.md
  agentsmd/commands/ready-player-one.md
  agentsmd/commands/resolve-issues.md
  agentsmd/commands/resolve-pr-review-thread.md
  agentsmd/commands/review-code.md
  agentsmd/commands/review-pr.md
  agentsmd/commands/shape-issues.md
  agentsmd/commands/sync-main.md
  agentsmd/commands/sync-permissions.md
  agentsmd/rules/architecture.md
  agentsmd/rules/command-agent-skill-architecture.md
  agentsmd/rules/github-issue-standards.md
  agentsmd/rules/pr-comment-limits.md
  agentsmd/rules/project-scope.md
  agentsmd/rules/styleguide.md
  agentsmd/skills/github-cli-patterns/SKILL.md
  agentsmd/skills/github-graphql/SKILL.md
  agentsmd/skills/pr-comment-limit-enforcement/SKILL.md
  agentsmd/skills/pr-health-check/SKILL.md
  agentsmd/skills/pr-thread-resolution-enforcement/SKILL.md
  agentsmd/skills/subagent-batching/SKILL.md
  agentsmd/skills/worktree-management/SKILL.md
Due: check-markdown-links

refactor: reduce token count in fix-pr-ci, manage-pr, auto-claude commands
  agentsmd/commands/auto-claude.md
  agentsmd/commands/fix-pr-ci.md
  agentsmd/commands/manage-pr.md
Due: check-markdown-links

feat: improve agent frontmatter with model selection and trigger terms
  agentsmd/agents/ci-fixer.md
  agentsmd/agents/code-reviewer.md
  agentsmd/agents/dependency-checker.md
  agentsmd/agents/docs-reviewer.md
  agentsmd/agents/issue-resolver.md
  agentsmd/agents/linter-fixer.md
  agentsmd/agents/permissions-analyzer.md
  agentsmd/agents/permissions-syncer.md
  agentsmd/agents/pr-thread-resolver.md
  agentsmd/agents/test-runner.md
  agentsmd/agents/worktree-manager.md
Due: check-markdown-links

refactor: update skill frontmatter to Claude Code best practices
  agentsmd/skills/github-cli-patterns/SKILL.md
  agentsmd/skills/github-graphql/SKILL.md
  agentsmd/skills/permission-deduplication/SKILL.md
  agentsmd/skills/permission-safety-classification/SKILL.md
  agentsmd/skills/pr-comment-limit-enforcement/SKILL.md
  agentsmd/skills/pr-health-check/SKILL.md
  agentsmd/skills/pr-thread-resolution-enforcement/SKILL.md
  agentsmd/skills/subagent-batching/SKILL.md
  agentsmd/skills/worktree-management/SKILL.md
Due: check-markdown-links

refactor: update agent frontmatter to Claude Code best practices
  agentsmd/agents/ci-fixer.md
  agentsmd/agents/code-reviewer.md
  agentsmd/agents/dependency-checker.md
  agentsmd/agents/docs-reviewer.md
  agentsmd/agents/issue-resolver.md
  agentsmd/agents/linter-fixer.md
  agentsmd/agents/permissions-analyzer.md
  agentsmd/agents/permissions-syncer.md
  agentsmd/agents/pr-thread-resolver.md
  agentsmd/agents/test-runner.md
  agentsmd/agents/worktree-manager.md
Due: check-markdown-links

fix: resolve PR review feedback - command documentation improvements
  agentsmd/commands/git-rebase-troubleshoot.md
  agentsmd/commands/init-worktree.md
  agentsmd/commands/quick-add-permission.md
  agentsmd/commands/resolve-issues.md
  agentsmd/commands/sync-main.md
  docs/optimization/optimization-results.md
Due: check-markdown-links

fix: correct table formatting in auto-claude.md
  agentsmd/commands/auto-claude.md
Due: check-markdown-links

refactor: fix agent frontmatter and add PR template
  agentsmd/agents/ci-fixer.md
  agentsmd/agents/code-reviewer.md
  agentsmd/agents/dependency-checker.md
  agentsmd/agents/docs-reviewer.md
  agentsmd/agents/issue-resolver.md
  agentsmd/agents/linter-fixer.md
  agentsmd/agents/permissions-analyzer.md
  agentsmd/agents/permissions-syncer.md
  agentsmd/agents/pr-thread-resolver.md
  agentsmd/agents/test-runner.md
  agentsmd/agents/worktree-manager.md
  agentsmd/commands/manage-pr.md
Due: check-markdown-links

fix: restore default tools in agent allowed-tools lists
  agentsmd/agents/ci-fixer.md
  agentsmd/agents/code-reviewer.md
  agentsmd/agents/dependency-checker.md
  agentsmd/agents/docs-reviewer.md
  agentsmd/agents/issue-resolver.md
  agentsmd/agents/linter-fixer.md
  agentsmd/agents/permissions-analyzer.md
  agentsmd/agents/permissions-syncer.md
  agentsmd/agents/pr-thread-resolver.md
  agentsmd/agents/test-runner.md
  agentsmd/agents/worktree-manager.md
Due: check-markdown-links

chore: apply Claude Code best practices to agents and commands
  AGENTS.md
  agentsmd/agents/resolve-pr-thread-graphql.md
  agentsmd/commands/delegate-to-ai.md
  agentsmd/commands/git-precommit-troubleshooting.md
  agentsmd/commands/git-rebase-troubleshoot.md
  agentsmd/commands/git-rebase.md
  agentsmd/commands/git-refresh.md
  agentsmd/commands/git-worktree-troubleshooting.md
  agentsmd/commands/init-worktree.md
  agentsmd/commands/manage-pr.md
  agentsmd/commands/quick-add-permission.md
  agentsmd/commands/resolve-issues.md
  agentsmd/commands/resolve-pr-review-thread.md
  agentsmd/commands/review-pr.md
  agentsmd/commands/shape-issues.md
  agentsmd/commands/sync-main.md
  agentsmd/commands/sync-permissions.md
Due: check-markdown-links

chore: apply Claude Code best practices to agents and commands (#395)
  AGENTS.md
  agentsmd/agents/resolve-pr-thread-graphql.md
  agentsmd/commands/delegate-to-ai.md
  agentsmd/commands/git-precommit-troubleshooting.md
  agentsmd/commands/git-rebase-troubleshoot.md
  agentsmd/commands/git-rebase.md
  agentsmd/commands/git-refresh.md
  agentsmd/commands/git-worktree-troubleshooting.md
  agentsmd/commands/init-worktree.md
  agentsmd/commands/manage-pr.md
  agentsmd/commands/quick-add-permission.md
  agentsmd/commands/resolve-issues.md
  agentsmd/commands/resolve-pr-review-thread.md
  agentsmd/commands/review-pr.md
  agentsmd/commands/shape-issues.md
  agentsmd/commands/sync-main.md
  agentsmd/commands/sync-permissions.md
Due: check-markdown-links

feat: add 'defaults read' to system command permissions
  agentsmd/permissions/allow/system.json
Due: none

feat: add safe git rebase commands to always-allowed permissions
  agentsmd/permissions/allow/git.json
Due: none

docs: clarify that git-rebase and init-worktree work with any folder name
  agentsmd/commands/git-rebase.md
  agentsmd/commands/init-worktree.md
Due: check-markdown-links

fix: add rm command to system allow list
  agentsmd/permissions/allow/system.json
Due: none

fix: add shell tools (awk, basename, tr) to allow list
  agentsmd/permissions/allow/system.json
Due: none

docs: fix markdownlint config filename references
  agentsmd/agents/linter-fixer.md
  agentsmd/commands/review-docs.md
  agentsmd/rules/documentation-standards.md
Due: check-markdown-links

feat: add 'defaults read' to system command permissions (#396)
  agentsmd/permissions/allow/system.json
Due: none

docs: clarify folder naming independence for git-rebase and init-worktree (#399)
  agentsmd/commands/git-rebase.md
  agentsmd/commands/init-worktree.md
Due: check-markdown-links
