Repository JacobPEvans/ai-assistant-instructions: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, cclint

check-markdown-links:
  name: check-markdown-links
  description: Check for broken file links in markdown files
  entry: python3 scripts/check-markdown-links.py
  language: system
  pass_filenames: false

cclint:
  name: cclint
  description: Validate Claude Code instruction files
  entry: bash -c 'command -v cclint >/dev/null 2>&1 && cclint || npx @carlrannaberg/cclint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat: add agent-teams-coordination skill and setup docs
  .cspell.json
  agentsmd/docs/agent-teams-setup.md
  agentsmd/skills/agent-teams-coordination/SKILL.md
Due: check-markdown-links

fix: address PR #442 review feedback
  AGENTS.md
  agentsmd/agents/docs-reviewer.md
  agentsmd/agents/infra-orchestrator.md
  agentsmd/rules/command-agent-skill-architecture.md
Due: check-markdown-links

docs: add worktree session start guidance and expand rebase troubleshooting
  agentsmd/commands/git-rebase-troubleshoot.md
  agentsmd/rules/worktrees.md
Due: check-markdown-links

fix: address PR review feedback for worktree and rebase docs
  agentsmd/commands/git-rebase-troubleshoot.md
  agentsmd/rules/worktrees.md
Due: check-markdown-links

docs: add worktree session start guidance and expand rebase troubleshooting (#443)
  agentsmd/commands/git-rebase-troubleshoot.md
  agentsmd/rules/worktrees.md
Due: check-markdown-links

feat: configure Copilot and Gemini code review instructions
  .gemini/config.yaml
  .github/copilot-instructions.md
  agentsmd/docs/code_review_instructions.md
  agentsmd/rules/code-standards.md
Due: check-markdown-links

feat: add nix-config flake update trigger workflow
  .github/workflows/trigger-nix-update.yml
Due: none

fix: address code review issues from holistic audit
  agentsmd/agents/infra-orchestrator.md
  agentsmd/rules/architecture.md
Due: check-markdown-links

docs: update CLAUDE.md files for two-tier architecture consistency
  AGENTS.md
  README.md
  agentsmd/agents/ci-fixer.md
  agentsmd/agents/code-reviewer.md
  agentsmd/agents/dependency-checker.md
  agentsmd/agents/issue-resolver.md
  agentsmd/agents/linter-fixer.md
  agentsmd/agents/pr-thread-resolver.md
  agentsmd/agents/test-runner.md
  agentsmd/rules/github-issue-standards.md
  agentsmd/rules/merge-conflict-resolution.md
Due: check-markdown-links

docs: update CLAUDE.md files for two-tier architecture consistency (#444)
  AGENTS.md
  README.md
  agentsmd/agents/ci-fixer.md
  agentsmd/agents/code-reviewer.md
  agentsmd/agents/dependency-checker.md
  agentsmd/agents/issue-resolver.md
  agentsmd/agents/linter-fixer.md
  agentsmd/agents/pr-thread-resolver.md
  agentsmd/agents/test-runner.md
  agentsmd/rules/github-issue-standards.md
  agentsmd/rules/merge-conflict-resolution.md
Due: check-markdown-links

docs: add migration warning to README about plugin consolidation
  README.md
Due: check-markdown-links

fix: clarify plugin migration timeline and existing repo content
  README.md
Due: check-markdown-links

docs: add plugin migration warning to README (#445)
  README.md
Due: check-markdown-links

docs: add SOPS integration rule for encrypted secrets at rest
  AGENTS.md
  agentsmd/rules/infra/sops-integration.md
Due: check-markdown-links

fix: correct trigger workflow to target JacobPEvans/nix repository
  .github/workflows/trigger-nix-update.yml
Due: none

fix: correct trigger workflow to target JacobPEvans/nix repository (#447)
  .github/workflows/trigger-nix-update.yml
Due: none

fix: address PR review feedback on sops-integration rule
  agentsmd/rules/infra/sops-integration.md
Due: check-markdown-links

fix: use .sops.yaml for encryption instead of manual --age flag
  agentsmd/rules/infra/sops-integration.md
Due: check-markdown-links

chore: remove git -C from denied commands list
  agentsmd/permissions/deny/git.json
Due: none

docs: remove all git -C references from documentation
  agentsmd/rules/code-standards.md
  agentsmd/rules/styleguide.md
  agentsmd/rules/workspace-management.md
Due: check-markdown-links

chore: remove git -C from denied commands list (#448)
  agentsmd/permissions/deny/git.json
  agentsmd/rules/code-standards.md
  agentsmd/rules/styleguide.md
  agentsmd/rules/workspace-management.md
Due: check-markdown-links

docs: add SOPS integration rule for encrypted secrets at rest (#446)
  AGENTS.md
  agentsmd/rules/infra/sops-integration.md
Due: check-markdown-links

chore: sync command references with canonical plugin names
  .token-limits.yaml
  AGENTS.md
  README.md
  agentsmd/agents/ci-fixer.md
  agentsmd/agents/code-reviewer.md
  agentsmd/agents/dependency-checker.md
  agentsmd/agents/issue-resolver.md
  agentsmd/agents/linter-fixer.md
  agentsmd/agents/pr-thread-resolver.md
  agentsmd/agents/test-runner.md
  agentsmd/rules/worktrees.md
  agentsmd/skills/github-graphql/SKILL.md
  agentsmd/skills/pr-health-check/SKILL.md
  agentsmd/skills/pr-thread-resolution-enforcement/SKILL.md
  agentsmd/skills/worktree-management/SKILL.md
  docs/optimization/command-optimization-plan.md
  docs/optimization/optimization-results.md
Due: check-markdown-links

fix: address PR review feedback on command reference sync
  .token-limits.yaml
  agentsmd/skills/pr-health-check/SKILL.md
  agentsmd/skills/worktree-management/SKILL.md
Due: check-markdown-links

chore: sync command references with canonical plugin names (#449)
  .token-limits.yaml
  AGENTS.md
  README.md
  agentsmd/agents/ci-fixer.md
  agentsmd/agents/code-reviewer.md
  agentsmd/agents/dependency-checker.md
  agentsmd/agents/issue-resolver.md
  agentsmd/agents/linter-fixer.md
  agentsmd/agents/pr-thread-resolver.md
  agentsmd/agents/test-runner.md
  agentsmd/rules/worktrees.md
  agentsmd/skills/github-graphql/SKILL.md
  agentsmd/skills/pr-health-check/SKILL.md
  agentsmd/skills/pr-thread-resolution-enforcement/SKILL.md
  agentsmd/skills/worktree-management/SKILL.md
  docs/optimization/command-optimization-plan.md
  docs/optimization/optimization-results.md
Due: check-markdown-links

chore(permissions): allow git worktree remove without confirmation
  agentsmd/permissions/STRATEGY.md
  agentsmd/permissions/ask/git.json
Due: check-markdown-links

chore: replace subagent-batching skill with superpowers:dispatching-parallel-agents
  AGENTS.md
  agentsmd/rules/command-agent-skill-architecture.md
  agentsmd/rules/subagent-parallelization.md
  agentsmd/skills/subagent-batching/SKILL.md
  docs/optimization/command-optimization-plan.md
Due: check-markdown-links

fix: address PR review feedback
  agentsmd/rules/subagent-parallelization.md
  docs/optimization/command-optimization-plan.md
Due: check-markdown-links

chore: add release-please for automated releases
  .github/workflows/release-please.yml
  .release-please-manifest.json
  VERSION
  release-please-config.json
Due: none

chore: replace subagent-batching with superpowers:dispatching-parallel-agents (#451)
  AGENTS.md
  agentsmd/rules/command-agent-skill-architecture.md
  agentsmd/rules/subagent-parallelization.md
  agentsmd/skills/subagent-batching/SKILL.md
  docs/optimization/command-optimization-plan.md
Due: check-markdown-links

fix: add explicit config-file and manifest-file to release-please action
  .github/workflows/release-please.yml
Due: none

chore: add release-please for automated releases (#452)
  .github/workflows/release-please.yml
  .release-please-manifest.json
  VERSION
  release-please-config.json
Due: none

fix: keep git worktree remove --force in ask list and update docs
  agentsmd/permissions/STRATEGY.md
  agentsmd/permissions/ask/git.json
Due: check-markdown-links

docs: add @ file linking, .claude/rules/ symlink, and update cross-referencing convention
  .claude/rules
  AGENTS.md
Due: check-markdown-links, cclint

chore: adopt @-imports, .claude/rules/ symlink, and DRY cleanup
  .claude/SOUL.md
  .claude/rules
  AGENTS.md
  agentsmd/memory-bank/README.md
  agentsmd/memory-bank/active-context.md
  agentsmd/memory-bank/progress-tracking.md
  agentsmd/memory-bank/project-brief.md
  agentsmd/memory-bank/system-patterns.md
  agentsmd/memory-bank/technical-context.md
  agentsmd/rules/authoring-standards.md
  agentsmd/rules/secrets-policy.md
  agentsmd/rules/styleguide.md
  agentsmd/rules/subagent-parallelization.md
  agentsmd/rules/vendor-config-standards.md
  agentsmd/skills-registry.md
Due: check-markdown-links, cclint

chore: remove obsolete memory-bank pattern
  LICENSE
  agentsmd/agents/docs-reviewer.md
  agentsmd/memory-bank/README.md
  agentsmd/memory-bank/active-context.md
  agentsmd/memory-bank/progress-tracking.md
  agentsmd/memory-bank/project-brief.md
  agentsmd/memory-bank/system-patterns.md
  agentsmd/memory-bank/technical-context.md
Due: check-markdown-links

fix: address PR review feedback
  AGENTS.md
  agentsmd/rules/secrets-policy.md
Due: check-markdown-links

chore: adopt .claude/rules/, @-imports, and remove obsolete patterns (#454)
  .claude/SOUL.md
  .claude/rules
  AGENTS.md
  LICENSE
  agentsmd/agents/docs-reviewer.md
  agentsmd/rules/authoring-standards.md
  agentsmd/rules/memory-bank/README.md
  agentsmd/rules/memory-bank/active-context.md
  agentsmd/rules/memory-bank/progress-tracking.md
  agentsmd/rules/memory-bank/project-brief.md
  agentsmd/rules/memory-bank/system-patterns.md
  agentsmd/rules/memory-bank/technical-context.md
  agentsmd/rules/secrets-policy.md
  agentsmd/rules/styleguide.md
  agentsmd/rules/subagent-parallelization.md
  agentsmd/rules/vendor-config-standards.md
  agentsmd/skills-registry.md
Due: check-markdown-links, cclint

Path conditions:
  check-markdown-links: any of: \.md$
  cclint: any of: ^\.claude/
