Repository JacobPEvans/ai-assistant-instructions: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, cclint

check-markdown-links:
  name: check-markdown-links
  description: Check for broken file links in markdown files
  entry: python3 scripts/check-markdown-links.py
  language: system
  pass_filenames: false

cclint:
  name: cclint
  description: Validate Claude Code instruction files
  entry: bash -c 'command -v cclint >/dev/null 2>&1 && cclint || npx @carlrannaberg/cclint'
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat: strengthen script prevention rules with escape hatch and subagent propagation
  agentsmd/rules/agent-dispatching.md
  agentsmd/rules/direct-execution.md
Due: check-markdown-links

fix: consolidate script prevention rules in AGENTS.md
  AGENTS.md
Due: check-markdown-links

fix: clarify dependency versioning policy for trusted vs untrusted actions (#528)
  AGENTS.md
Due: check-markdown-links

fix: block npm run commands in permission deny list
  agentsmd/permissions/allow/nodejs.json
  agentsmd/permissions/deny/package-install.json
Due: none

fix: add npm ci to permission deny list
  agentsmd/permissions/deny/package-install.json
Due: none

fix: block npm run commands in permission deny list (#532)
  agentsmd/permissions/allow/nodejs.json
  agentsmd/permissions/deny/package-install.json
Due: none

feat: strengthen script prevention rules and subagent propagation (#529)
  AGENTS.md
  agentsmd/rules/agent-dispatching.md
  agentsmd/rules/direct-execution.md
Due: check-markdown-links

fix: align script locations with write-script-guard enforcement
  agentsmd/rules/agent-dispatching.md
Due: check-markdown-links

fix: align script locations with write-script-guard enforcement (#535)
  agentsmd/rules/agent-dispatching.md
Due: check-markdown-links

fix: consolidate allowed script locations in direct-execution.md
  agentsmd/rules/direct-execution.md
Due: check-markdown-links

fix: use generic path placeholder in Nix example
  agentsmd/rules/direct-execution.md
Due: check-markdown-links

fix: consolidate allowed script locations in direct-execution.md (#537)
  agentsmd/rules/direct-execution.md
Due: check-markdown-links

fix: pin npx cclint to @0.2.10 with Renovate annotation
  .github/workflows/_cclint.yml
  .github/workflows/_validate-cclint.yml
Due: none

fix: pin npx cclint to @0.2.10 with Renovate annotation (#539)
  .github/workflows/_cclint.yml
  .github/workflows/_validate-cclint.yml
Due: none

fix: remove claude-review, delete deprecated .github-shared workflows
  .github-shared/workflows/claude-review.yml
  .github-shared/workflows/doc-sync.yml
  .github-shared/workflows/issue-triage.yml
  .github-shared/workflows/markdownlint.yml
  .github/workflows/claude-review.yml
  docs/github-actions/shared-workflows.md
Due: check-markdown-links

fix: clarify shared-workflows docs per review feedback
  docs/github-actions/shared-workflows.md
Due: check-markdown-links

fix: add output discipline and elevate no-scripts rule in AGENTS.md
  AGENTS.md
Due: check-markdown-links

fix: address copilot review — cross-ref style and model naming clarity
  AGENTS.md
Due: check-markdown-links

fix: remove claude-review + deprecated shared workflows (#541)
  .github-shared/workflows/claude-review.yml
  .github-shared/workflows/doc-sync.yml
  .github-shared/workflows/issue-triage.yml
  .github-shared/workflows/markdownlint.yml
  .github/workflows/claude-review.yml
  docs/github-actions/shared-workflows.md
Due: check-markdown-links

fix: add output discipline and elevate no-scripts rule (#542)
  AGENTS.md
Due: check-markdown-links

feat: add skill-execution-integrity rule to enforce fresh skill invocations
  AGENTS.md
  agentsmd/rules/skill-execution-integrity.md
Due: check-markdown-links

fix: add description frontmatter to all auto-loaded rules
  agentsmd/rules/agent-dispatching.md
  agentsmd/rules/direct-execution.md
  agentsmd/rules/nix-tool-policy.md
  agentsmd/rules/secrets-policy.md
  agentsmd/rules/soul.md
Due: check-markdown-links

feat: add AI merge gate and Copilot setup steps
  .github/workflows/ai-merge-gate.yml
  .github/workflows/copilot-setup-steps.yml
Due: none

fix: add paths scoping to file-specific rules
  agentsmd/rules/agent-dispatching.md
  agentsmd/rules/direct-execution.md
  agentsmd/rules/nix-tool-policy.md
  agentsmd/rules/secrets-policy.md
Due: check-markdown-links

fix: add permissions and concurrency to AI merge gate caller
  .github/workflows/ai-merge-gate.yml
Due: none

fix: replace deleted /init-worktree references with /refresh-repo
  AGENTS.md
  CONTRIBUTING.md
  README.md
  agentsmd/skills/worktree-management/SKILL.md
  docs/troubleshooting.md
Due: check-markdown-links

refactor: restructure rules by natural paths triggers
  AGENTS.md
  agentsmd/docs/remote-commit-workflow.md
  agentsmd/rules/agent-dispatching.md
  agentsmd/rules/ci-cd-policy.md
  agentsmd/rules/config-secrets.md
  agentsmd/rules/nix-tool-policy.md
  agentsmd/rules/secrets-policy.md
  agentsmd/rules/tool-use.md
Due: check-markdown-links

fix: address review feedback on init-worktree replacement
  AGENTS.md
  README.md
  agentsmd/skills/worktree-management/SKILL.md
Due: check-markdown-links

fix: slim AI merge gate caller to absolute minimum
  .github/workflows/ai-merge-gate.yml
Due: none

feat: add AI merge gate and Copilot setup (#545)
  .github/workflows/ai-merge-gate.yml
  .github/workflows/copilot-setup-steps.yml
Due: none

fix: replace deleted /init-worktree references with /refresh-repo (#546)
  AGENTS.md
  CONTRIBUTING.md
  README.md
  agentsmd/skills/worktree-management/SKILL.md
  docs/troubleshooting.md
Due: check-markdown-links

fix: remove hardcoded counts from AGENTS.md rule sections
  AGENTS.md
Due: check-markdown-links

refactor: restructure auto-loaded rules by natural paths triggers (#544)
  AGENTS.md
  agentsmd/docs/remote-commit-workflow.md
  agentsmd/rules/agent-dispatching.md
  agentsmd/rules/ci-cd-policy.md
  agentsmd/rules/config-secrets.md
  agentsmd/rules/nix-tool-policy.md
  agentsmd/rules/secrets-policy.md
  agentsmd/rules/skill-execution-integrity.md
  agentsmd/rules/soul.md
  agentsmd/rules/tool-use.md
Due: check-markdown-links

feat: migrate model routing docs to Bifrost AI gateway
  .cspell.json
  .markdownlint-cli2.jsonc
  AGENTS.md
  CHANGELOG.md
  agentsmd/agents/coder.md
  agentsmd/agents/planner.md
  agentsmd/agents/researcher.md
  agentsmd/agents/reviewer.md
  agentsmd/rules/tool-use.md
Due: check-markdown-links

fix: address PR 549 review feedback on Bifrost docs
  AGENTS.md
  agentsmd/agents/researcher.md
  agentsmd/rules/tool-use.md
Due: check-markdown-links

refactor: drop redundant note under Model Routing Rules
  AGENTS.md
Due: check-markdown-links

chore: decommission migrated types and triage 87-issue backlog
  .claude/agents
  .claude/skills
  .github/workflows/_markdownlint.yml
  .token-limits.yaml
  AGENTS.md
  CONTRIBUTING.md
  README.md
  agentsmd/agents/README.md
  agentsmd/agents/ci-fixer.md
  agentsmd/agents/code-reviewer.md
  agentsmd/agents/coder.md
  agentsmd/agents/dependency-checker.md
  agentsmd/agents/docs-reviewer.md
  agentsmd/agents/infra-orchestrator.md
  agentsmd/agents/issue-resolver.md
  agentsmd/agents/linter-fixer.md
  agentsmd/agents/permissions-analyzer.md
  agentsmd/agents/permissions-syncer.md
  agentsmd/agents/planner.md
  agentsmd/agents/pr-thread-resolver.md
  agentsmd/agents/researcher.md
  agentsmd/agents/resolve-pr-thread-graphql.md
  agentsmd/agents/reviewer.md
  agentsmd/agents/test-runner.md
  agentsmd/docs/code_review_instructions.md
  agentsmd/skills/github-cli-patterns/SKILL.md
  agentsmd/skills/github-graphql/SKILL.md
  agentsmd/skills/permission-patterns/SKILL.md
  agentsmd/skills/pr-health-check/SKILL.md
  agentsmd/skills/pr-thread-resolution-enforcement/SKILL.md
  agentsmd/skills/worktree-management/SKILL.md
  docs/BRANCH-CLEANUP.md
  docs/archived-skills/consolidate-issues/SKILL.md
  docs/optimization/command-optimization-plan.md
  docs/optimization/optimization-results.md
  docs/optimization/phase-4-results.md
  docs/projects/multi-model-orchestration/PLAN.md
  scripts/check-command-tokens.sh
  scripts/remote-commit.sh
  scripts/validate-commands.sh
Due: check-markdown-links, cclint

fix: address PR 552 review feedback on install snippet and CONTRIBUTING
  CONTRIBUTING.md
  README.md
Due: check-markdown-links

Path conditions:
  check-markdown-links: any of: \.md$
  cclint: any of: ^\.claude/
