Repository JacobPEvans/ai-assistant-instructions: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, cclint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.13.0
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        description: "Markdown linter"
        entry: markdownlint-cli2
        language: node
        files: \.md$
        require_serial: true
        args: ["--config", ".markdownlint-cli2.jsonc", "--fix"]
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v8.16.1
    hooks:
      - id: cspell
        name: cspell
        description: "Spell checker for code"
        args: ["--config", ".cspell.json"]
        files: \.md$
  - repo: https://github.com/lycheeverse/lychee
    rev: v0.15.1
    hooks:
      - id: lychee
        name: lychee-link-check
        description: "Check for broken links in markdown files"
        args:
          - "--no-progress"
          - "--exclude"
          - "shields.io"
          - "--exclude"
          - "github.com/.*/badge"
          - "--exclude"
          - "gist.github.com"
        files: \.md$
  - repo: local
    hooks:
      - id: check-markdown-links
        name: check-markdown-links
        description: "Check for broken file links in markdown files"
        entry: python3 scripts/check-markdown-links.py
        language: system
        files: \.md$
        pass_filenames: false
      - id: cclint
        name: cclint
        description: "Validate Claude Code instruction files"
        entry: bash -c 'command -v cclint >/dev/null 2>&1 && cclint || npx @carlrannaberg/cclint'
        language: system
        files: ^\.claude/
        pass_filenames: false
        stages: [pre-push]

chore: decomm migrated types and triage 87-issue backlog (#552)
  .claude/agents
  .claude/skills
  .github/workflows/_markdownlint.yml
  .token-limits.yaml
  AGENTS.md
  CONTRIBUTING.md
  README.md
  agentsmd/agents/README.md
  agentsmd/agents/ci-fixer.md
  agentsmd/agents/code-reviewer.md
  agentsmd/agents/coder.md
  agentsmd/agents/dependency-checker.md
  agentsmd/agents/docs-reviewer.md
  agentsmd/agents/infra-orchestrator.md
  agentsmd/agents/issue-resolver.md
  agentsmd/agents/linter-fixer.md
  agentsmd/agents/permissions-analyzer.md
  agentsmd/agents/permissions-syncer.md
  agentsmd/agents/planner.md
  agentsmd/agents/pr-thread-resolver.md
  agentsmd/agents/researcher.md
  agentsmd/agents/resolve-pr-thread-graphql.md
  agentsmd/agents/reviewer.md
  agentsmd/agents/test-runner.md
  agentsmd/docs/code_review_instructions.md
  agentsmd/skills/github-cli-patterns/SKILL.md
  agentsmd/skills/github-graphql/SKILL.md
  agentsmd/skills/permission-patterns/SKILL.md
  agentsmd/skills/pr-health-check/SKILL.md
  agentsmd/skills/pr-thread-resolution-enforcement/SKILL.md
  agentsmd/skills/worktree-management/SKILL.md
  docs/BRANCH-CLEANUP.md
  docs/archived-skills/consolidate-issues/SKILL.md
  docs/optimization/command-optimization-plan.md
  docs/optimization/optimization-results.md
  docs/optimization/phase-4-results.md
  docs/projects/multi-model-orchestration/PLAN.md
  scripts/check-command-tokens.sh
  scripts/remote-commit.sh
  scripts/validate-commands.sh
Due: check-markdown-links, cclint

docs: note Gemini thinking-model reasoning-token trap (all current models)
  AGENTS.md
Due: check-markdown-links

docs: tighten Gemini thinking-model gotcha per review feedback
  AGENTS.md
Due: check-markdown-links

feat(rules): add nix-package-placement decision matrix, update AGENTS.md
  .cspell.json
  AGENTS.md
  agentsmd/rules/nix-package-placement.md
Due: check-markdown-links

fix(rules): use shorter nixpkgs#mermaid-cli path in nix-package-placement
  agentsmd/rules/nix-package-placement.md
Due: check-markdown-links

fix(rules): drop numeric group words, rewrite confusing "lowest tier" phrasing
  AGENTS.md
  agentsmd/rules/nix-package-placement.md
Due: check-markdown-links

fix(routing): swap broken Qwen3.5-35B-A3B-4bit to Qwen3-Coder-30B-A3B-Instruct-4bit
  AGENTS.md
Due: check-markdown-links

fix(permissions): add obsidian CLI to allow list
  agentsmd/permissions/allow/tools.json
Due: none

feat(rules): add nix-package-placement decision matrix (#554)
  .cspell.json
  AGENTS.md
  agentsmd/rules/nix-package-placement.md
Due: check-markdown-links

fix(permissions): add obsidian eval and trash to ask list
  agentsmd/permissions/ask/system.json
Due: none

fix(permissions): add obsidian CLI to allow and ask lists
  agentsmd/permissions/allow/tools.json
  agentsmd/permissions/ask/system.json
Due: none

fix(cspell): migrate to shared org-wide dictionary hierarchy
  .cspell.json
  .pre-commit-config.yaml
Due: none

chore(cspell): add tool names to word list (Qdrant, Ntfy, Mailpit, Nomic)
  .cspell.json
Due: none

build(gh-aw): compile thin import wrappers for all gh-aw workflows
  .cspell.json
  .gitattributes
  .github/aw/actions-lock.json
  .github/aw/imports/.gitattributes
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_ai-moderator.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_ci-doctor.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_daily-malicious-code-scan.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_link-checker.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_sub-issue-closer.md
  .github/workflows/ai-moderator.lock.yml
  .github/workflows/ai-moderator.md
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/ci-doctor.md
  .github/workflows/daily-malicious-code-scan.lock.yml
  .github/workflows/daily-malicious-code-scan.md
  .github/workflows/link-checker.lock.yml
  .github/workflows/link-checker.md
  .github/workflows/sub-issue-closer.lock.yml
  .markdownlint-cli2.jsonc
  .pre-commit-config.yaml
  scripts/check-markdown-links.py
Due: check-markdown-links

build(gh-aw): compile thin import wrappers for all gh-aw workflows (#561)
  .cspell.json
  .gitattributes
  .github/aw/actions-lock.json
  .github/aw/imports/.gitattributes
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_ai-moderator.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_ci-doctor.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_daily-malicious-code-scan.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_link-checker.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_sub-issue-closer.md
  .github/workflows/ai-moderator.lock.yml
  .github/workflows/ai-moderator.md
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/ci-doctor.md
  .github/workflows/daily-malicious-code-scan.lock.yml
  .github/workflows/daily-malicious-code-scan.md
  .github/workflows/link-checker.lock.yml
  .github/workflows/link-checker.md
  .github/workflows/sub-issue-closer.lock.yml
  .markdownlint-cli2.jsonc
  .pre-commit-config.yaml
  scripts/check-markdown-links.py
Due: check-markdown-links

fix: recompile gh-aw workflows with v0.68.1
  .github/aw/actions-lock.json
  .github/workflows/ai-moderator.lock.yml
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/daily-malicious-code-scan.lock.yml
  .github/workflows/link-checker.lock.yml
  .github/workflows/sub-issue-closer.lock.yml
Due: none

fix(gh-aw): recompile agentic workflow lock files with v0.68.1
  .github/aw/actions-lock.json
  .github/workflows/ai-moderator.lock.yml
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/daily-malicious-code-scan.lock.yml
  .github/workflows/link-checker.lock.yml
  .github/workflows/sub-issue-closer.lock.yml
Due: none

fix: add automation bots to AI Moderator skip-bots
  .github/workflows/ai-moderator.lock.yml
  .github/workflows/ai-moderator.md
Due: check-markdown-links

fix: update skip-bots header comment in lock file
  .github/workflows/ai-moderator.lock.yml
Due: none

fix: add automation bots to AI Moderator skip-bots (#572)
  .github/workflows/ai-moderator.lock.yml
  .github/workflows/ai-moderator.md
Due: check-markdown-links

fix: remove version-pinned Claude model references
  .cspell.json
  AGENTS.md
  scripts/select-model.sh
Due: check-markdown-links

fix: improve naming clarity per Copilot review
  AGENTS.md
  scripts/select-model.sh
Due: check-markdown-links

fix: remove version-pinned Claude model references (#582)
  .cspell.json
  AGENTS.md
  scripts/select-model.sh
Due: check-markdown-links

docs: note Gemini thinking-model reasoning-token trap (all current models) (#553)
  AGENTS.md
Due: check-markdown-links

docs: add Codex quick-start guide
  README.md
  docs/codex-quick-start.md
Due: check-markdown-links

docs: add Codex quick-start guide (#585)
  README.md
  docs/codex-quick-start.md
Due: check-markdown-links

docs: update model routing table with mlx-local/ Bifrost prefix
  AGENTS.md
Due: check-markdown-links

docs: clarify mlx-local/ is Bifrost-only exception to no-prefix rule
  AGENTS.md
Due: check-markdown-links

docs: clarify mlx-local/ Bifrost prefix in model routing (#586)
  AGENTS.md
Due: check-markdown-links

feat: add Copilot label-driven automation pipeline
  .github/scripts/copilot-pipeline/add-ready-label.js
  .github/scripts/copilot-pipeline/check-fix-eligibility.js
  .github/scripts/copilot-pipeline/get-ci-failure-logs.js
  .github/scripts/copilot-pipeline/resolve-with-copilot.js
  .github/scripts/copilot-pipeline/send-copilot-slack-notify.js
  .github/scripts/copilot-pipeline/submit-fix-review.js
  .github/workflows/ci-fix.yml
  .github/workflows/copilot-ci-fix.yml
  .github/workflows/copilot-issue-resolve.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/issue-auto-resolve.yml
  .github/workflows/notify-copilot-pr.yml
Due: none

fix: remove labeled trigger from issue-auto-resolve to prevent loop
  .github/workflows/issue-auto-resolve.yml
Due: none

fix: address review feedback on Copilot pipeline workflows
  .github/scripts/copilot-pipeline/get-ci-failure-logs.js
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/notify-copilot-pr.yml
Due: none

fix: recompile aw workflow lock files to fix AI Moderator
  .github/aw/imports/githubnext/agentics/96b9d4c39aa22359c0b38265927eadb31dcf4e2a/workflows_ai-moderator.md
  .github/aw/imports/githubnext/agentics/96b9d4c39aa22359c0b38265927eadb31dcf4e2a/workflows_ci-doctor.md
  .github/aw/imports/githubnext/agentics/96b9d4c39aa22359c0b38265927eadb31dcf4e2a/workflows_daily-malicious-code-scan.md
  .github/aw/imports/githubnext/agentics/96b9d4c39aa22359c0b38265927eadb31dcf4e2a/workflows_link-checker.md
  .github/aw/imports/githubnext/agentics/96b9d4c39aa22359c0b38265927eadb31dcf4e2a/workflows_sub-issue-closer.md
  .github/workflows/ai-moderator.lock.yml
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/daily-malicious-code-scan.lock.yml
  .github/workflows/link-checker.lock.yml
  .github/workflows/sub-issue-closer.lock.yml
Due: check-markdown-links

feat: add Copilot label-driven automation pipeline (#587)
  .github/scripts/copilot-pipeline/add-ready-label.js
  .github/scripts/copilot-pipeline/check-fix-eligibility.js
  .github/scripts/copilot-pipeline/get-ci-failure-logs.js
  .github/scripts/copilot-pipeline/resolve-with-copilot.js
  .github/scripts/copilot-pipeline/send-copilot-slack-notify.js
  .github/scripts/copilot-pipeline/submit-fix-review.js
  .github/workflows/ci-fix.yml
  .github/workflows/copilot-ci-fix.yml
  .github/workflows/copilot-issue-resolve.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/issue-auto-resolve.yml
  .github/workflows/notify-copilot-pr.yml
Due: none

fix: recompile aw workflow lock files to fix AI Moderator (#588)
  .github/aw/imports/githubnext/agentics/96b9d4c39aa22359c0b38265927eadb31dcf4e2a/workflows_ai-moderator.md
  .github/aw/imports/githubnext/agentics/96b9d4c39aa22359c0b38265927eadb31dcf4e2a/workflows_ci-doctor.md
  .github/aw/imports/githubnext/agentics/96b9d4c39aa22359c0b38265927eadb31dcf4e2a/workflows_daily-malicious-code-scan.md
  .github/aw/imports/githubnext/agentics/96b9d4c39aa22359c0b38265927eadb31dcf4e2a/workflows_link-checker.md
  .github/aw/imports/githubnext/agentics/96b9d4c39aa22359c0b38265927eadb31dcf4e2a/workflows_sub-issue-closer.md
  .github/workflows/ai-moderator.lock.yml
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/daily-malicious-code-scan.lock.yml
  .github/workflows/link-checker.lock.yml
  .github/workflows/sub-issue-closer.lock.yml
Due: check-markdown-links

fix(ci): add gh-aw-pin-refresh workflow and recompile lock files
  .github/aw/imports/githubnext/agentics/51c8f6ad4357d2ecc06e47120031b3d75e80227d/workflows_ai-moderator.md
  .github/aw/imports/githubnext/agentics/51c8f6ad4357d2ecc06e47120031b3d75e80227d/workflows_ci-doctor.md
  .github/aw/imports/githubnext/agentics/51c8f6ad4357d2ecc06e47120031b3d75e80227d/workflows_daily-malicious-code-scan.md
  .github/aw/imports/githubnext/agentics/51c8f6ad4357d2ecc06e47120031b3d75e80227d/workflows_link-checker.md
  .github/aw/imports/githubnext/agentics/51c8f6ad4357d2ecc06e47120031b3d75e80227d/workflows_sub-issue-closer.md
  .github/workflows/ai-moderator.lock.yml
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/daily-malicious-code-scan.lock.yml
  .github/workflows/gh-aw-pin-refresh.yml
  .github/workflows/link-checker.lock.yml
  .github/workflows/sub-issue-closer.lock.yml
Due: check-markdown-links

fix: remove stale gh-aw import cache from previous upstream version
  .github/aw/imports/githubnext/agentics/96b9d4c39aa22359c0b38265927eadb31dcf4e2a/workflows_ai-moderator.md
  .github/aw/imports/githubnext/agentics/96b9d4c39aa22359c0b38265927eadb31dcf4e2a/workflows_ci-doctor.md
  .github/aw/imports/githubnext/agentics/96b9d4c39aa22359c0b38265927eadb31dcf4e2a/workflows_daily-malicious-code-scan.md
  .github/aw/imports/githubnext/agentics/96b9d4c39aa22359c0b38265927eadb31dcf4e2a/workflows_link-checker.md
  .github/aw/imports/githubnext/agentics/96b9d4c39aa22359c0b38265927eadb31dcf4e2a/workflows_sub-issue-closer.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_ai-moderator.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_ci-doctor.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_daily-malicious-code-scan.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_link-checker.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_sub-issue-closer.md
Due: check-markdown-links

fix(ci): add gh-aw-pin-refresh workflow and recompile lock files
  .github/aw/imports/githubnext/agentics/51c8f6ad4357d2ecc06e47120031b3d75e80227d/workflows_ai-moderator.md
  .github/aw/imports/githubnext/agentics/51c8f6ad4357d2ecc06e47120031b3d75e80227d/workflows_ci-doctor.md
  .github/aw/imports/githubnext/agentics/51c8f6ad4357d2ecc06e47120031b3d75e80227d/workflows_daily-malicious-code-scan.md
  .github/aw/imports/githubnext/agentics/51c8f6ad4357d2ecc06e47120031b3d75e80227d/workflows_link-checker.md
  .github/aw/imports/githubnext/agentics/51c8f6ad4357d2ecc06e47120031b3d75e80227d/workflows_sub-issue-closer.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_ai-moderator.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_ci-doctor.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_daily-malicious-code-scan.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_link-checker.md
  .github/aw/imports/githubnext/agentics/aae6af93b4035df74630817afa13c528d6b74fe6/workflows_sub-issue-closer.md
  .github/workflows/ai-moderator.lock.yml
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/daily-malicious-code-scan.lock.yml
  .github/workflows/gh-aw-pin-refresh.yml
  .github/workflows/link-checker.lock.yml
  .github/workflows/sub-issue-closer.lock.yml
Due: check-markdown-links
